@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    width: 1166px;
    margin: 21px auto 0 auto;
}

.navigation {
    display: inline-block;
}

.navigation li {
    display: inline-block;
    margin-right: 35px;
    font-family: "Roboto", sans-serif;
    font-size: 11px;
    line-height: 12.89px;
    font-weight: 700;
    text-transform: uppercase;
}

header img {
    vertical-align: middle;
}   

